.vi-view {
    display: flex;

    flex-direction: column;

    &.insert-mode {
        .cursor {
            margin: 0;
            padding: 0;

            border: none;
            outline: none;

            field-sizing: content;
        }
    }

    .lines {
        display: flex;

        overflow-x: auto;
        overflow-y: auto;

        flex-grow: 1;
        flex-direction: column;

        .line {
            white-space: nowrap;

            .character {
                display: inline-block;

                &.empty {
                    user-select: none;
                }
            }
        }
    }

    .status-bar {
        display: flex;

        flex-grow: 0;
        flex-direction: row;

        justify-content: space-between;
    }
}