body {
    margin: 0;

    height: 100%;

    padding: 0;

    display: flex;

    flex-direction: column;
}

.vi-view {
    color: white;

    row-gap: 8px;

    padding: 16px;

    display: flex;

    min-height: 0;

    font-size: 14px;
    font-family: "Source Code Pro";

    flex-grow: 1;
    flex-direction: column;

    background-color: black;

    &.insert-mode {
        .cursor {
            color: white;

            background-color: black;

            border-left-width: 1px;
            border-left-style: solid;
            border-left-color: white;
        }
    }

    &.normal-mode {
        .cursor {
            color: black;

            background-color: white;
        }
    }

    .lines {
        display: flex;

        overflow-x: auto;
        overflow-y: auto;

        flex-grow: 1;
        flex-direction: column;

        .line {
            display: flex;

            flex-direction: row;

            .character {
                height: 1.4em;

                display: inline-flex;

                line-height: 1em;

                align-items: center;

                flex-shrink: 0;
                flex-direction: row;
            }
        }
    }

    .status-bar {
        display: flex;

        column-gap: 8px;

        flex-grow: 0;
        flex-direction: row;

        justify-content: space-between;
    }
}